{% extends 'webapp/base.html' %}
{% block content %}

<h5>
  welcome {{user}} this is posts sections 
</h5>

<hr>

<a href="{% url 'post' %}" class="btn btn-primary btn-sm">add new post
  <i class="fa fa-plus-circle" aria-hidden="true"></i>
</a> 

<hr>

<h1 class="checking">Django Image Uploading</h1>

<hr>

<div class='containers'>
<ul>
  {% for post in object_list %}
  <div class="post-containers">
    <h2 class="post-title">{{ post.title }}</h2>
    <img class="image" src="{{ post.cover.url}}" alt="{{ post.title }}">
  </div>
    <a href="{% url 'update' post.pk %}">
      <button  class="btn btn-info update-button" type="button">Update</button>
    </a>
  
  {% endfor %}
</ul>
</div>

{% endblock content %}